<div>
  <h1>Client Form</h1>
  <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
    <div class="form-group">
      <label for="firstName">First name: </label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="selectedClient.firstName"
        name="firstName" #firstName="ngModel" pattern="([a-zA-Z])+([ \-'][a-zA-Z]{1,})*">

      <div *ngIf="firstName.errors?.pattern" class="alert alert-danger">
        Invalid first name
      </div>

      <div *ngIf="firstName.errors?.required" class="alert alert-danger">
        First name required
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last name: </label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="selectedClient.lastName"
        name="lastName" #lastName="ngModel" pattern="([a-zA-Z])+([ \-'][a-zA-Z]{1,})*">

      <div *ngIf="lastName.errors?.pattern" class="alert alert-danger">
        Invalid last name
      </div>

      <div *ngIf="lastName.errors?.required" class="alert alert-danger">
        Last name required
      </div>
    </div>

    <div class="form-group">
      <label for="age">Age: </label>
      <input type="number" class="form-control" id="age" [(ngModel)]="selectedClient.age" name="age" #age="ngModel"
        pattern="^(1[8-9]){0,1}([2-8][0-9]){0,1}(9[0-8]){0,1}$">

      <div *ngIf="age.errors?.pattern" class="alert alert-danger">
        Age must be a positive integer between 18 and 98
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number: </label>
      <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="selectedClient.phoneNumber"
        name="phoneNumber" #phoneNumber="ngModel" pattern="^(\\+[1-9]{1,2})?0[1-9][0-9]{8,}$">

      <div *ngIf="phoneNumber.errors?.pattern" class="alert alert-danger">
        Invalid phone number
      </div>
    </div>

    <div>City: {{selectedClient.address.city}}</div>
    <div>Street: {{selectedClient.address.street}}</div>
    <div>Number: {{selectedClient.address.number}}</div>

    <button type="submit" class="btn btn-success m-2 p-2"
      [disabled]="!clientForm.form.valid || isPristine()">Submit</button>

    <button type="button" class="btn btn-success m-2 p-2"
      [disabled]="!clientForm.form.valid || isPristine()" (click)="update()">Update</button>

    <button type="button" class="btn btn-info" [disabled]="!clientForm.form.valid" (click)="openDialog()">
      Choose address
    </button>
  </form>

  <div>
    <button type="button" class="btn btn-primary" (click)="checkClientCoffees()" [disabled]="!isPristine()">My coffees</button>
    <button type="button" class="btn btn-primary" (click)="checkClientOrders()" [disabled]="!isPristine()">My orders</button>
  </div>
</div>